html {
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}

header, .section-one, footer {
    background-color: #1f2937;
    color: white;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    text-decoration: none;
    display: flex;
    gap: 18px;
}

header a {
    color: white;
    text-decoration: none;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 120px;
    flex: 1;
}

img {
    max-width: 100%;
}

h2 {
    text-align: center;
    font-size: 36px;
}

.section-two {
    display: flex;
    justify-content: center;
    gap: 48px;
    text-align: center;
}

.section-two-block {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.section-three {
    background-color: #e5e7eb;
}

.section-three .quote{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin: 120px 240px 0px;
}

.section-three p {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 240px 120px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 200px;
}

.call-to-action {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    flex: 1;
}

.information-header-text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.call-to-action-button {
    margin-left: auto;
}

.section-four-button {
    border-color: white;

}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}